<div class="container">
        <form>
            <h1>Forget Password</h1>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" #email required>
            </div>
            <div class="forget">
                <a  [routerLink]="['/login']">Go Back</a>
            </div>
            <div>
                <a class="login-button" >Submit</a>
            </div>
        </form>
</div>