<div class="recent-orders">
    <h2>{{title}}</h2>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Title</th>
                <th>createdAt</th>
                <th>updatedAt</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let brand of brands" >
                <td>__</td>
                <td>{{brand.title}}</td>
                <td>{{brand.createdAt | date: 'shortDate'}}</td>
                <td>{{brand.updatedAt| date: 'shortDate'}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <a >Show All</a>
</div>