<div class="category">
    <div id="err" class="err-massage">
       {{ error }}
    </div>
    <div class="form">
        <form (ngSubmit)="uploads()">
            <div class="title">
                <h2>{{ title }}</h2>
            </div>

            <div class="image-box">
                <div class="img" *ngFor="let imageUrl of imageUrls">
                    <img [src]="imageUrl" alt="">
                </div>
                <div class="img">
                    <label for="file"><img src="../../../../assets/images/profile.png"  alt="select image"></label>
                </div>
            </div>
            <br>
            <input type="file" (change)="ImageUpload($event)" multiple id="file">
            <!-- <input hidden type="file" (change)="ImageUpload($event)" multiple id="file"> -->
            <button type="submit">Upload</button>
        </form>
    </div>
</div>
