<div class="category">
    <div id="err" class="err-massage">
       {{ error }}
    </div>
    <div class="form">
        <form (ngSubmit)="add()" [formGroup]="product">
            <div class="title">
                <h2>{{ title }}</h2>
            </div>
            <div class="input-box">
                <!-- <label for="title">Title: </label> -->
                <input type="text" name="title" placeholder="Enter Title" formControlName="title" id="title">
            </div>
            <div class="input-box">
                <!-- <label for="price">Price: </label> -->
                <input type="text" name="price" placeholder="Enter Price" formControlName="price" id="price">
            </div>
            <div class="input-box">
                <!-- <label for="description">Description: </label> -->
                <input type="text" name="description" placeholder="Enter Description" formControlName="description" id="description">
            </div>
            <div class="input-box">
                <!-- <label for="color">Color: </label> -->
                <input type="text" name="color" placeholder="Enter Color" formControlName="color" id="color">
            </div>
            <div class="input-box">
                <label for="quantity">Quantity: </label><br>
                <input type="number" name="quantity" placeholder="Enter Quantity" formControlName="quantity" id="quantity">
            </div>
            <!-- <div class="input-box">
                <label for="category">Category: </label>
                <select name="category" formControlName="category" id="category">
                    <option value="{{catid}}">Laptop</option>
                    <option value="{{catid}}">TV</option>
                </select>
            </div> -->
            <div class="input-box" >
                <label for="category">Category: </label><br>
                <select title="Select Category" name="category" formControlName="category" id="category">
                    <option selected>Select Category</option>
                    <option *ngFor="let category of categories" value="{{category._id}}">{{category.title}}</option>
                    <!-- <option value=""  selected placeholder="Select Category"></option> -->

                    <!-- <option value="{{catid}}">TV</option> -->
                </select>
            </div>
            <div class="input-box">
                <label for="brand">Brand: </label><br>
                <select name="brand" title="Select Brand" formControlName="brand">
                    <option selected>Select Brand</option>
                    <option *ngFor="let brand of brands" value="{{brand._id}}">{{brand.title}}</option>
                    <!-- <option value="{{braid}}">Samsung</option>
                 -->
                </select>
            </div>
            <div class="image-box">
                <label for="file"><img src="./images/profile.png"  alt="select image"></label>
                <input type="file" name="image" id="file">
            </div>
            <br>
            <button type="submit">Add</button>
        </form>
    </div>

</div>

<!-- 
<form [formGroup]="product" (ngSubmit)="addProduct()">
    <div class="form">
            {{ title}}
        <div>
            <label for="title">Title</label>
                <input type="text" name="title" formControlName="title" id="title">
        </div>
        
        <div>
            <label for="des">des</label>
            <input type="text" name="descriptiion" formControlName="description" id="des">
        </div>
        
        <div>
            <label for="title">price</label>
            <input type="text" formControlName="price" name="price" >
        </div>
        
        <div>
            <label for="title">category</label>
            <input type="text" formControlName="category" name="category" >
        </div>
        
        <div>
            <label for="title">color</label>
            <input type="text" formControlName="color" name="color">
        </div>
        
        <div>
            <label for="title">brand</label>
            <input type="text" formControlName="brand" name="brand">
        </div>
        <div>
            <label for="title">quantity</label>
            <input type="text" formControlName="quantity" name="quantity">
        </div>
        <div>
            <button type="submit">Add product</button>
        </div>
    </div>

    </form> -->
