.container {
  max-width: 400px;
  margin: 10vh auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

.login-button {
  /* style the login button */
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.login-button:hover {
  /* style the button on hover */
  background-color: #0062cc;
  cursor: pointer;
}

.login-button:active {
  /* style the button when clicked */
  background-color: #005cbf;
}


.logout-container {
  /* center the container */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.logout-link {
  /* style the logout link */
  display: inline-block;
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.logout-link:hover {
  /* style the link on hover */
  background-color: #c82333;
  cursor: pointer;
}

.logout-link:active {
  /* style the link when clicked */
  background-color: #bd2130;
}

#floating-message {
  /* position: absolute; */
  background: var(--color-warning);
  color: white;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  z-index: -10;
  border-radius: 5rem;
  margin-top: 0.51rem;
}

.forget{
  float: right;
}

.forget a{
  text-decoration-line: underline;
}

.navigater{
  margin: 1rem auto;
  text-align: center;
  text-decoration-line: underline;
  /* align-items: center; */
  padding: 0.5rem;
  font-size: 1.2rem;
  color: blue;
  background: var(--color-light);
  width: 20rem;
  border-radius: var(--border-radius-2);
}
