<div class="recent-orders">
    <h2>{{title}}</h2>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Price</th>
                <th>Color</th>
                <th>upload/view</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products" >
                <td>{{product._id}}</td>
                <td>{{product.title}}</td>
                <td>{{product.brand.title}}</td>
                <td>{{product.category.title}}</td>
                <td>{{product.price}}</td>
                <td>{{product.color}}</td>
                <td><a [routerLink]="['./upload/{{product._id}}']"><span class="material-icons-sharp">upload</span></a></td>
            </tr>
            <!-- 
            <tr>
                <td>1</td>
                <td>Foldable Mini Dron</td>
                <td>85631</td>
                <td>Due</td>
                <td class="warning">Pending</td>
                <td class="primary">Details</td>
            </tr> -->
        </tbody>
    </table>
    <a >Show All</a>
</div>