<div class="recent-orders">
    <h2>Recent Orders</h2>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Product Name</th>
                <th>Product Number</th>
                <th>Payment</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
            <td>Foldable Mini Dron</td>
                <td>85631</td>
                <td>Due</td>
                <td class="warning">Pending</td>
                <td class="primary">Details</td>
            </tr>
            <tr>
                <td>1</td>
            <td>Foldable Mini Dron</td>
                <td>85631</td>
                <td>Due</td>
                <td class="warning">Pending</td>
                <td class="primary">Details</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Foldable Mini Dron</td>
                <td>85631</td>
                <td>Due</td>
                <td class="warning">Pending</td>
                <td class="primary">Details</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Foldable Mini Dron</td>
                <td>85631</td>
                <td>Due</td>
                <td class="warning">Pending</td>
                <td class="primary">Details</td>
            </tr>
        </tbody>
    </table>
    <a href="#">Show All</a>
</div>
    